/* ------ z-index ------*/
/* --------- dimmensions --------- */
/* --------- colors --------- */
/* --------- borders --------- */
#wrapper {
  margin-left: 290px; }

#article_tag_collection {
  font-family: "Noto Serif", serif;
  font-size: 1.1em; }
  #article_tag_collection li {
    display: inline-block;
    margin-right: 15px; }
  #article_tag_collection a {
    text-decoration: underline; }
    #article_tag_collection a:hover {
      color: #000; }

#time {
  font-family: "Noto Serif", serif;
  float: right;
  font-size: 1.1em; }

#content {
  clear: both;
  font-family: "Noto Serif", serif;
  font-size: 1.1em;
  margin-top: 20px; }
  #content a {
    text-decoration: underline; }
    #content a:hover {
      color: #000; }
  #content img.center {
    display: block;
    margin: 0 auto; }
  #content img.left {
    float: right;
    margin-right: 15px; }
  #content img.right {
    float: right;
    margin-left: 15px; }

/* ---------------- Responsive Design ---------------- */
@media (max-width: 1200px) {
  #time {
    display: block;
    float: none;
    margin-bottom: 15px; }

  #article_tag_collection li {
    display: block;
    margin-bottom: 8px; } }
