/* ------ z-index ------*/
/* --------- dimmensions --------- */
/* --------- colors --------- */
/* --------- borders --------- */
/* --------- Images --------- */
/* --------- Fonts --------- */
#wrapper {
  margin-left: 290px; }

#rss {
  background: url(/web/bundles/app/img/rss.png?2013-07-02) no-repeat;
  display: block;
  float: right;
  height: 30px;
  width: 30px; }

.article_wrapper time {
  display: block;
  font-family: "Noto Serif", serif;
  font-size: 1em;
  margin: 10px 0; }
.article_wrapper h2 {
  font-size: 1.7em;
  margin: 30px 0 15px; }
.article_wrapper a {
  color: #888;
  font-family: "league-gothic";
  font-weight: normal; }
  .article_wrapper a:hover {
    color: #000;
    text-decoration: none; }
.article_wrapper p {
  clear: both;
  font-family: "Noto Serif", serif;
  font-size: 1.1em; }
