/* --------- Images --------- */

$url_loading_img: url(/web/bundles/app/img/loading.gif?2013-07-02);
$url_logo_img: url(/web/bundles/app/img/logo.png?2013-07-02);
$url_rss_img: url(/web/bundles/app/img/rss.png?2013-07-02);

/* --------- Fonts --------- */

$url_font_gothic_eot: url(/web/bundles/app/fonts/league_gothic/league_gothic-webfont.eot);
$url_font_gothic_eot_iefix: url(/web/bundles/app/fonts/league_gothic/league_gothic-webfont.eot?#iefix);
$url_font_gothic_ttf: url(/web/bundles/app/fonts/league_gothic/league_gothic-webfont.ttf);
$url_font_gothic_woff: url(/web/bundles/app/fonts/league_gothic/league_gothic-webfont.woff);