parameters:
    memcached.servers:
        - { host: 127.0.0.1, port: 11211 }
        - { host: 127.0.0.2, port: 11211 }
    version: 1.0.0
    database_host: ~
    database_port: ~
    database_name: ~
    database_user: ~
    database_password: ~
    mailer_transport: ~
    mailer_host: ~
    mailer_user: ~
    my_email: ~
    mailer_password: ~
    secret: ~
    locale: es
