/* ------ z-index ------*/
/* --------- dimmensions --------- */
/* --------- colors --------- */
/* --------- borders --------- */
#contact_form {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 40px auto 0;
  padding: 20px 50px;
  width: 600px; }
  #contact_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; }
  #contact_form fieldset {
    margin: 20px 0; }
  #contact_form input[type=email],
  #contact_form input[type=text],
  #contact_form textarea {
    padding: 6px 8px;
    width: 100%; }
  #contact_form textarea {
    height: 150px; }
  #contact_form input[type=submit] {
    margin: 10px auto; }

#footer {
  margin-left: 0; }

/* ---------------- Responsive Design ---------------- */
@media (max-width: 1200px) {
  #contact_form {
    margin-top: 20px;
    padding: 0 5%;
    width: 100%; } }
