/* ------ z-index ------*/
/* --------- dimmensions --------- */
/* --------- colors --------- */
/* --------- borders --------- */
#cookies_wrapper {
  margin-bottom: 20px; }
  #cookies_wrapper ul {
    list-style-type: disc;
    margin: 0 0 0 30px; }
  #cookies_wrapper li {
    margin-bottom: 10px; }
  #cookies_wrapper table {
    margin-bottom: 15px;
    width: 100%; }
  #cookies_wrapper th {
    text-align: left; }
  #cookies_wrapper td,
  #cookies_wrapper th {
    background-color: #f7f7f7;
    border: 1px solid #fff;
    padding: 5px 10px; }
  #cookies_wrapper .purpose {
    text-align: justify; }
  #cookies_wrapper td,
  #cookies_wrapper p,
  #cookies_wrapper li {
    font-family: "Noto Serif", serif; }
  #cookies_wrapper a {
    font-weight: bold; }

#footer {
  margin-left: 0; }
