/* ------ z-index ------*/
/* --------- dimmensions --------- */
/* --------- colors --------- */
/* --------- borders --------- */
#login_form {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 40px auto 0;
  padding: 20px 100px;
  width: 200px; }
  #login_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; }
  #login_form fieldset {
    margin: 20px 0; }
  #login_form input[type=password],
  #login_form input[type=text] {
    width: 100%; }
  #login_form input[type=submit] {
    margin: 10px auto; }

#error_message {
  color: red;
  font-weight: bold;
  position: absolute; }

#footer {
  margin-left: 0; }
